// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body
  +footer

template(name='importFixture')
  section.import
    h1 Paste json text here
    p See example in fixtures directory
    textarea#json-text
    button.import-submit Submit