// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body

template(name="userlist")
  .userlist
    ul
      each users
        li
          img.avatar(src=profilePhotoUrl)
          span {{ firstName }}
