// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body
  +footer

template(name='importFixture')
  section.import
    p
      button.import-submit Import Fake users
      button.remove-all-fake-data Remove ALL fake data
    p
      span (ex: 1 minute from now = #{ oneMinuteFromNow })
      input#next-refresh-textbox
      button.remove-next-refresh Set Global Refresh Timestmap (UTC Millis Since Epoch)

