// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body
  +footer

template(name='importFixture')
  section.import
    p
      button.remove-all-fake-data Remove ALL fake data
    p
      span (ex: 1 minutes from now = #{ oneMinuteFromNow })
      input#next-refresh-textbox
      button.remove-next-refresh Set Global Refresh Timestmap (UTC Millis Since Epoch)

    h1 Paste json text here
    p See example in fixtures directory
    textarea#json-text
    button.import-submit Submit