// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body

template(name="userList")
  .user-list
    ul
      each users
        li
          a(href="/users/{{ _id }}")
            img.avatar(src=profilePhotoUrl)
            span {{ firstName }}


template(name="userDetails")
  .user-details
    h1 {{ firstName }}
    section.info
      h2 Info
      ul
        li Work: {{ work }}
        li Education: {{ education }}
        li Age: {{ age }}
        li Created At: {{ createdAt }}
        li Updated At: {{ updatedAt }}
        li About:
          p {{ about }}
    section.photos
      h2 Photos
      ul
        each photoUrls
          li
            img(src=this)

