// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body

template(name="home")
  div#home
    div.logo
      img(src="images/xketchLogo.png")
    img.ketchIcon(src="images/ketchIcon.png")
    div.sea

template(name="userlist")
  ul
    each users
      li {{ firstName }}
        img.avatar(src=profilePhotoUrl)