// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body

template(name='userList')
  .user-list
    ul
      each users
        li
          a(href='/users/{{ _id }}')
            img.avatar(src=profilePhotoUrl)
            span {{ firstName }}

template(name='userNav')
  section.user-nav
    h1 {{ firstName }}
    button
      a(href='/users') Back to list
    button
      a(href='/users/{{ _id }}') Show Profile
    button
      a(href='/users/{{ _id }}/candidates') Show Candidates
    button
      a(href='/users/{{ _id }}/connections') Show Connections

template(name='userDetails')
  .user-details
    +userNav

    section.info
      h2 Info
      ul
        li Work: {{ work }}
        li Education: {{ education }}
        li Age: {{ age }}
        li Created At: {{ createdAt }}
        li Updated At: {{ updatedAt }}
        li About:
          p {{ about }}
    section.photos
      h2 Photos
      ul
        each photoUrls
          li
            img(src=this)


template(name='userCandidates')
  .user-candidates
    +userNav

    section.actions
      button Populate Candidate Queue

    section.candidate-queue
      ol
        each candidateQueue
          li
            a(href='/users/{{ user._id }}')
              img.avatar(src=user.profilePhotoUrl)
              span {{ user.firstName }}




template(name='userConnections')
  .user-connections
    +userNav