//
   Created by Tony on 2/22/15.

template(name='userList')
  .user-list
    h1 Search
      input.text(id="search")
    ul
      +each users
        li
          a(href='/users/#{ _id }')
            img.avatar(src=profilePhotoUrl)
            span #{ firstName }
