
template(name='vetQueue')
  .user-queue
    ul
      +each usersToVet
        li
          a(href='/users/#{ _id }')
            img.avatar(src=profilePhotoUrl)
            span.name #{ firstName }
          span.grey #{ createdAt }
          +vetUser
          +snoozeUser
          +blockUser
