//
   Created by Tony on 2/21/15.

template(name='splash')
  #home
    .headerWrapper
      .logo
        img(src='/images/xketchLogo.png')
    .sea
      .ketchWrapper
        img.ketchIcon(src='/images/ketchIcon.png')
      a.download(href="itms-services://?action=download-manifest&url=https://goo.gl/lVpv2w") Download Beta
