template(name='footer')
  +if loggedInUser
    #footer
      .footer-content {{ loggedInUser.firstName }}
        button.update-fb-access-token Logout
      img.avatar(src=loggedInUser.adminView.profilePhotoUrl)

